@import "vars";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP',
        sans-serif;
    font-weight: normal;
    color: rgba(12, 12, 12, 0.74);
    font-size: 16px;
    line-height: 32px;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button {
    //element
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: $main_color;
    cursor: pointer;
    //text
    text-transform: uppercase;
    color: #fff;
}

button:hover {
    background-color: #fff;
    color: $gray_color;
    border: 1px solid $main_color;
    transition: all 0.3s;
}


.container {
    width: 1120px;
    margin: 0 auto;
}

.header {
    margin-top: 20px;

    &__logo {
        width: 70px;
        height: 70px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        display: flex;
        align-items: center;

        &-item {
            margin-right: 20px;
            position: relative;

            &:last-child {
                margin-right: 0;
            }

            &:hover::after,
            &:focus::after {
                width: 100%;
            }

            &::after {
                position: absolute;
                content: "";
                height: 3px;
                width: 0%;
                top: 30px;
                right: 0;
                background-color: $main_color;
                transition: width .4s ease-in-out;
            }
        }
    }
}

.introduce {
    display: grid;
    margin-top: 30px;

    &__inner {
        display: grid;
        grid-template-columns: 500px 100px 520px;
    }

    &__main {
        padding: 30px;

        &-title {
            margin-top: 150px;
            font-size: 72px;
            font-weight: 700;
        }

        &-subtitle {
            margin-top: 12px;
            font-size: 26px;
        }

        &-text {
            margin-top: 25px;
            max-width: 300px;
            line-height: 26px;
        }
    }

    &__color {
        background-color: $main_color;
    }

    &__image {
        background-image: url(../images/1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.block {
    margin-top: 50px;
    padding-bottom: 250px;

    &__inner {
        position: relative;
    }

    &__bg {
        position: absolute;
        background-repeat: no-repeat;
        transform: translate(950%, 30%);
        z-index: 1;
        width: 100px;
    }

    &__img {
        width: 1000px;
    }

    &__group {
        display: grid;
        grid-template-columns: 200px 200px;
        gap: 20px;
        max-width: 625px;
        max-height: 550px;
        position: absolute;
        right: 0px;
        bottom: -200px;
        width: 500px;

        &-item {
            padding: 50px;
            background-color: #fff;
            z-index: 4;
        }

        &-img {
            width: 50px;
            margin-left: 25px;
        }

        &-text {
            text-transform: uppercase;
            margin-top: 20px;
        }

        &-bg {
            position: absolute;
            z-index: -1;
            top: -60px;
            right: 30px;
        }
    }
}

.about {
    margin-top: 50px;

    &__container {
        background-color: $gray_color;
        max-width: 800px;
        max-height: 800px;
    }

    &__inner {
        display: grid;
        grid-template-columns: 450px 230px 430px;
        background: linear-gradient(to right, #414040 55%, #fff 45%);
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__title {
        text-align: center;
        justify-content: center;
        margin: auto;

        &-title {
            color: $main_color;
            font-size: 96px;
            font-weight: 700;
        }

        &-subtitle {
            font-size: 30px;
            color: #fff;
            font-weight: bold;
            margin-top: 20px;
        }
    }

    &__text {
        padding: 20px;
        align-items: center;
        margin: auto;
        max-width: 320px;
        line-height: 26px;
        background-color: #fff;

        &-btn {
            margin-left: 22%;
        }
    }
}

.projects {
    margin-top: 50px;

    &__title {
        text-align: center;
        font-weight: bold;
        font-size: 96px;
    }

    &__text {
        margin: 25px auto;
        max-width: 510px;
        text-align: center;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        &-img {
            width: 373px;
            height: 260px;
        }

        &-text {
            background-color: $gray_color;
            color: #fff;
            font-size: 36px;
            padding: 20px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 20%;
                height: 7px;
                background-color: $main_color;
                bottom: 20px;
                left: 40%;
            }
        }
    }
}

.team {
    margin-top: 25px;

    &__block {
        display: grid;
        grid-template-columns: 1fr 80px;
    }

    &__content {
        background-color: $gray_color;
        display: grid;
        grid-template-columns: 1fr 1fr;

        &-items {
            display: flex;
            padding: 80px;

            &-foto {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin-right: 10px;
            }

            &-info {

                &-name {
                    font-size: 30px;
                    color: #fff;
                    margin-bottom: 10px;
                }

                &-post {
                    color: $main_color;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: center;
                    margin-bottom: 10px;
                }

                &-text {
                    color: #fff;
                    font-size: 12px;
                    line-height: 24px;
                    margin-bottom: 10px;
                }

                &-list {
                    display: flex;

                    &-item {
                        margin-right: 5px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }

                }
            }
        }
    }

    &__color {
        background-color: $main_color;
    }
}

.footer {
    // margin-top: 25px;

    &__inner {
        display: grid;
        grid-template-columns: 350px 350px 1fr;
    }

    &__color {
        background-color: $main_color;
        position: relative;

        &-icons {
            display: flex;
            align-items: flex-end;
            position: absolute;
            bottom: 50px;
            right: 55px;
        }

        &-icon {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__contacts {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: $gray_color;
        color: #fff;
        margin: 100px 0px 100px -150px;
        padding: 40px;


        &-img {
            width: 50px;
            height: 50px;
            margin-top: 15px;
        }
    }

    &__form {
        padding: 40px;
        color: #000;

        &-title {
            font-size: 60px;
            margin-bottom: 30px;
        }

        &-form {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
        }

        &-input {
            border: none;
            border-bottom: 1px solid #000;
            margin-bottom: 15px;
        }

        &-btn {
            background-color: #000;
            color: #fff;
        }
    }
}

.error {
    border: 1px solid red;
}

.OK {
    border: 1px solid green;
}